@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

#root {
  width: 100%;
}

.spanClass span {
  width: 13.9rem !important;
  height: 13.4rem !important;
  position: absolute;
  right: 15%;
  bottom: 0;
}

.spanClass span img {
  width: 100% !important;
  height: 100% !important;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
